* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

main {
  background-color: #1a202c;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-2 {
  max-width: 1125px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-top {
  width: 100% !important;
  background-color: #171923;
  z-index: 999;
  padding: 0;
}

.header-top-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top-left {
  color: #fff;
}

.header-top-right {
  display: flex;
  gap: 30px;
}

.header-top-right button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

.header-top-right select {
  width: 100px;
  padding: 7px;
  font-size: 17px;
}

aside {
  background-color: #171923;
  padding-top: 70px;
}

.open-button-ant {
  text-align: center;
  margin-top: 150px;
}

.anticon,
.fa-phone {
  font-size: 25px !important;
}

.ant-menu-item {
  font-size: 16px;
  margin-top: 30px !important;
}

#mobile-menu {
  display: none;
}

@media (max-width: 800px) {
  header {
    position: fixed;
  }

  aside {
    display: none;
  }

  #mobile-menu {
    display: block !important;
  }

  .menu-mobile {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #171923 !important;
    text-align: center;
    padding: 5px 0 5px;
  }

  .mobile-link-icon a {
    color: white;
  }
  .header-top-left h2 {
    font-size: 16px;
  }
}
